<!DOCTYPE html>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iPromo.Web</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="~/kendo/styles/kendo.blueopal.min.css" />
        <link rel="stylesheet" href="~/css/global.cj.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css"
              asp-fallback-href="~/kendo/styles/kendo.common.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.blueopal.min.css"
              asp-fallback-href="~/kendo/styles/kendo.blueopal.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/kendo/js/kendo.all.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="http://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"
                asp-fallback-src="~/kendo/js/kendo.all.min.js"
                asp-fallback-test="kendo"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</head>
<body>
    <script type="text/javascript">
        var app = app || {};
        app.role = '@ViewBag.Role'.toUpperCase();
        app.userId = '@ViewBag.UserId';
    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".role-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<div class="navbar-brand logo"></div>*@
            </div>
            <div class="navbar-collapse collapse role-nav">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">@ViewBag.Role<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var role in ViewBag.Roles)
                            {
                                <li role="presentation">
                                    <a href="@string.Format("/Home/Index/{0}/{1}", HttpContextAccessor.HttpContext.Session.GetInt32("UserId"), role)">@role</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#about">@ViewBag.UserName</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo">
                    <img src="~/images/cj-logo-black.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav new-nav">
                    @if (ViewBag.Role == "RSM")
                    {
                    <li id="liCreateQuote" class=" dropdown-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Create Promotion<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@string.Format("/Quotes/Create/{0}/{1}", ViewBag.UserId, ViewBag.Role)">Standard Promotion</a>
                            </li>
                        </ul>
                    </li>
                    }
                    <li id=" liworklist">
                        <a href="@string.Format("/Home/Index/{0}/{1}",ViewBag.UserId,ViewBag.Role)">

                            Work List &nbsp;
                        </a>
                    </li>
                    <li id="liReport" class="dropdown-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Report<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="" id="liPOSReport">
                                <a href="@string.Format("/Home/Report/{0}/{1}",ViewBag.UserId,ViewBag.Role)">
                                    Promotion Report
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container body-content">
        @RenderBody()
    </main>
    <!--Footer-->
    <footer class="container-fluid w-100 bg-faded">
        <div class="container">
            <div class="row">
                <div class="row sd-col-bottom-space">
                    <div class="col-sm-9">
                        <div class="footer-text">
                            <ul class="footer-links">
                                <li><a href="#" target="_blank">Terms of Use</a></li>
                                <li><a href="#">Trademarks</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Cookies</a></li>

                            </ul>
                            <p class="footer-copyright">
                                © 2017 Cloud Jibe.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-logo">
                        <a class="pull-right logo">
                            <img src="~/images/cj-logo-white.png" />
                        </a>
                    </div>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </footer>
    <!--/Footer-->
    @RenderSection("Scripts", required: false)
</body>
</html>
